<div id="main-div">
    <div class="flex-1 flex flex-col w-full justify-center items-center " *ngIf="userData">
        <div class="flex flex-col w-full items-center space-y-3">
            <div class="flex justify-between w-1/2">
                <div class=" ">
                    <clean-button-template text="Change Password" bg="[#A62A22]"
                    (clicked)="changePassword()" ></clean-button-template>
                </div>
                <div class=" ">
                    <clean-button-template text="Edit Details"
                    (clicked)="onOpeningDrawer.emit(true); this.sendUserId.emit(userData);" ></clean-button-template>
                </div>

            </div>
    <div class="w-1/2 bg-white shadow-md rounded-md overflow-hidden ">
        <div class=" bg-white shadow-md rounded-md overflow-hidden p-8">
            <!-- User Image -->
            <div class="flex justify-center">
                
                

                 <div class="group image-container  w-fit h-fit p-3 px-0 pt-1 overflow-hidden rounded-sm">
                    <img  [src]="userProfileService.imageMap == null? 'assets/avatar/anon.jpg' : userProfileService.imageMap" 
                    class="h-32 w-32 rounded-full object-cover "
                      [class.group-hover:brightness-75]="userProfileService.imageMap!= null">
                    <div class="hidden w-full  top-0  justify-center p-1 group-hover:flex  hover:cursor-pointer bg-white rounded"
                       *ngIf="userProfileService.imageMap != null">
  
                      <default-button-template text="Remove" (clicked)="removeImage()"></default-button-template>
  
  
                    </div>
                  </div>
            </div>
            <!-- Username -->
            <div class="text-center mt-4">
                <h1 class="text-3xl font-semibold">{{userData.fullName}}</h1>
            </div>
            <!-- Email -->
            <div class="text-center mt-2">
                <p class="text-gray-600">{{userData.email}}</p>
            </div>
        </div>
</div>
<div class="flex n w-1/2 justify-center">
    <div class=" ">
       <default-button-template text="Delete Account"
       (clicked)="showPopUp = true"></default-button-template>
    </div>
    

</div>
</div>
</div>
</div>
<are-you-sure-template [visible]="showPopUp" (yesEvent)="deleteUser()" (visibleChange)="showPopUp = false"
header="Delete Account" [isLoading]="userProfileService.deletingUser"
description="Are you sure you want to delete your accout?"></are-you-sure-template>